@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {
  background-color: #f4f7f8;
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #333;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #f4f7f8	;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

.table td:nth-child(1),
.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5) {
  white-space: nowrap;
}

thead {
  background-color: #e6e9ed;
  border-color: #e6e9ed;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
  background-color: #333;
  border-color: #333;
}

.btn-primary.btn-block {
  margin-bottom: 1px;
}

.text-center {
  text-align: center;
}

.sort {
  cursor: pointer;
  position: relative;
}

.sort a {
  color: #434A54;
  display: block;
  cursor: pointer;
}

.sort:hover{
  transition: all 0.75s;
  background-color: #b8babd;
  text-decoration: underline;
} 
  
.sort::before, .sort::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border: 5px solid transparent;
  right: 10px;
  top: 50%;
}

.sort::before {
    border-bottom-color: #aaa;
    margin-top: -10px;
}
.sort::after {
    border-top-color: #aaa;
    margin-top: 2px;
}

.sort.asc::before {
  border-bottom-color: #444;
}

.sort.desc::after {
  border-top-color: #444;
}

.over {
  background-color: #808080;
}

.limit {
  background-color: #FF4F4F;
}

.deadline {
  background-color: #FFFF99;
}

.pagination { 
  justify-content: center; 
}